.nav {

   width: 100%;
   position: sticky;
   top: 0;
   background: white;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

   .container {
      display: flex;
      justify-content: space-between;
      align-content: baseline;
      padding-bottom: 2rem;
      padding-top: 2rem;

      &__socials {
         margin: 0;

         img {
            height: 27px;
            width: 26px;
         }

         img:nth-of-type(2) {
            height: 20px;
            width: 20px;
            transform: translateY(-3px);
         }

         &__links {
            list-style-type: none;
            display: flex;
            margin: 0;

            li {
               cursor: pointer;
               margin-left: 44px;
               font-size: 20px;

               &:first-of-type {
                  color: $primaryBlue;
                  font-weight: 500;
               }
            }
         }
      }
   }
}